GATEWAY_PORT=3000
MYSQL_ROOT_PASSWORD=root
DB_NAME=test
DB_USERNAME=root
DB_PASSWORD=root
DB_SYNCHRONIZE=false
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RECORDING_STREAMS=rtsp://210.99.70.120:1935/live/cctv001.stream
RECORDING_CRON=* * * * *
VIDEO_LENGTH=10
